@import 'vars';

.user-name{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  color: $main-color;
}

.add-video{
  *{
    color: #FFF;
  }
}

.video-show{
  width: 100%;
}


.video-buttons{
  margin-right: 20px;
}

.video-favorite, .video-like, .video-dislike{
  @extend .video-buttons;
  cursor: pointer;
  &:hover{
    color: #FFF;
  }
}

.video-rating{
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-right: 20px;
}