<% content_for :page_title, t('videos.page_title') %>

<div class="container">
  <div class="row videos">
    <%= render partial: 'videos', locals: {videos: @videos} %>
  </div>
</div>

<%= paginate(@videos) %>