<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Logo and toggle for navigation on mobile devices -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag 'logo.png', alt: "Advert.rocks" %></a>
      </div>

      <!-- Navigation links -->
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav navbar-right">
          <li class="current"><a href="/"><%= t('main') %></a></li>
          <!--
          <li class="dropdown">
            <a href="artists.html" class="dropdown-toggle disabled" data-toggle="dropdown">Artist <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="artists.html">Artists Overview</a></li>
              <li><a href="artist.html">Artist Single</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="albums.html" class="dropdown-toggle disabled" data-toggle="dropdown">Album <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="albums.html">Albums Overview</a></li>
              <li><a href="album.html">Album Single</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="blog.html" class="dropdown-toggle disabled" data-toggle="dropdown">Blog <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="blog.html">Blog Regular</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>
              <li><a href="blog-grid.html">Blog Grid</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="events.html" class="dropdown-toggle disabled" data-toggle="dropdown">Events <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="events.html">Events Overview</a></li>
              <li><a href="event-details.html">Event Details 1</a></li>
              <li><a href="event-details-2.html">Event Details 2</a></li>
              <li><a href="event-countdown.html">Event Countdown</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">Pages <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="404.html">404 Page</a></li>
              <li><a href="gallery.html">Galleries</a></li>
              <li><a href="video.html">Videos</a></li>
              <li><a href="typography.html">Typography</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li><a href="tables.html">Tables</a></li>
            </ul>
          </li>
          -->
          <!--<li><a href="contact.html">Contact Us</a></li>-->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</header>